  <%= render 'nav' %>

  <div class="home">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <h1> Bienvenido a Parqueo</h1>
          <% if user_signed_in? %>
            <p class="subtitle">Que deseas hacer?</p>
            <div class="call-to-action">
              <%= link_to "Ver parqueaderos cercanos", parking_garages_path, class: "btn btn-default btn-lg" %>
              <!-- <a class="btn btn-default btn-lg" href="singup.html">Ver parqueaderos cercanos</a> -->
              
            </div>
            <div>
              <%= link_to "... o cercanos a tu destino", parking_garages_path, class: "btn btn-lg" %>
              
            </div>
          <% else %>
            <p>
              <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
              <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
            </p>
          <% end %>

          
        </div>
      </div>
    </div>
  </div>
  <div class="container cite">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <h2>También puedes ver un estimado del costo del taxi</h2>
        <p>Sorel De León</p>
      </div>
    </div>
  </div>
